.mars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}

.mars hr {
  border-color: rgba(255, 255, 255, 0.534);
}

.mars-temp {
  height: 60vh;
}

.latest-weather {
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 15vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.384);
  background: rgba(0, 0, 0, 0.384);
  padding: 1vh;
  font-size: 16px;
}

.latest-weather h2,
h3,
h4 {
  font-size: 25px;
  text-shadow: 2px 1px black;
}

.latest-weather h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.temp p {
  margin: auto;
}

.daily-weather-table {
  text-align: center;
}

.daily-weather-table a {
  text-decoration: none;
  color: rgb(173, 160, 160);
}

.daily-weather-table a:hover {
  color: rgb(226, 216, 216);
}
