.countdown {
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    // border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.countdown-digit {
    // border: black 1px solid;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    p {
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }
}
