.navbar {
    background-color: black;
    a {
        color: rgb(202, 202, 202);
        text-decoration: none;
        font-size: 18px;

        &:hover {
            color: white;
        }
    }

    .navbar-brand {
        color: white;
        font-weight: 600;
        font-size: 24px;
    }

    .bars-icon {
        vertical-align: middle;
        font-size: 24px;
        color: #fff;
    }

    .dropdown-menu {
        background-color: black;
    }

    .dropdown-menu a {
        color: rgb(202, 202, 202);
        text-decoration: none;
    }

    .dropdown-item:hover {
        background-color: black;
        color: white;
    }
}
