.nasa-mission {
    a {
        color: rgb(0, 17, 255);
    }
    border-top: rgb(223, 215, 215) 1px solid;
    border-bottom: rgb(223, 215, 215) 1px solid;
    padding: 20px 0px;

    .intro {
        // margin-bottom: 30px;
    }

    .countdown {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .countdown-card {
        border: 1px solid black;
        text-align: center;
        button {
            // float: right;
            // margin-right: 50px;
        }

        a {
            // float: right;
            // margin-left: 32px;
        }
    }

    .landing-demo {
        margin-top: 20px;
        h3 {
            a {
                font-size: 18px;
                color: black;
            }
        }
    }
}
