$backgroundImagePath: url("../images/starshiplarge.jpg");
$backgroundColor: #3f2d2dec;

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background-image: $backgroundImagePath;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: $backgroundColor;
  color: white;
}

div:active,
div:focus {
  outline: 0;
  border: none;
}

.container {
  max-width: 95vw;
}

.content {
  position: relative;
  top: 8rem;
}

.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11);
}

.shadow1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11);
}
