.home {
    margin-top: 15px;

    // .carousel-item {
    //     // padding: 0px 1px;
    // }

    .carousel-control-prev,
    .carousel-control-next {
        width: 20px;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gainsboro' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gainsboro' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .statistics {
        h3 {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
        }
    }

    .spacex-img {
        // border: 1px solid rgb(210, 210, 210);
        // margin: 10px;
        padding: 15px 20px;
        height: fit-content;
        img {
            filter: blur(1px);
        }

        a {
            text-decoration: none;
            color: black;

            svg {
                width: 25px;
                height: 25px;
                margin-left: 20px;
                float: right;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .stats {
            height: 445px;
            background-color: blue;
        }
    }

    .upcoming-launch {
        margin: 10px;
        // border: 1px solid rgb(210, 210, 210);
        padding: 15px 20px;
        height: fit-content;

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

        img {
            margin-bottom: 10px;
        }

        p {
            span {
                font-weight: 500;
                font-size: 18px;
            }

            // max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        button {
            float: right;
        }
    }

    .launches {
        .search-bar {
            label,
            input,
            button,
            span {
                margin-right: 20px;
            }

            label,
            span {
                font-size: 18px;
                font-weight: 600;
            }

            button {
                background-color: black;
                color: white;
                // padding: 5px;
                text-transform: uppercase;
                border: none;
                font-size: 18px;
                font-weight: 600;
            }
        }

        table {
            margin-top: 20px;
            padding: 0;
            width: 100%;
            border-collapse: collapse;
            text-align: center;

            td,
            th {
                border-bottom: 1px solid rgb(210, 210, 210);
                padding: 5px 10px;
            }

            td {
                max-width: 200px;
            }

            tbody {
                tr:hover {
                    background-color: rgba(235, 235, 235, 0.35);
                    cursor: pointer;
                }
            }
        }

        nav {
            float: right;
            margin-bottom: 40px;
        }
    }
}
