.header-nav-bar {
  background-color: #382929f5;
  font-family: "Orbitron", sans-serif;
}

.header-nav-bar h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-style: italic;
  margin-left: 100px;
  font-size: 28px;
}

.header-nav-bar a {
  text-decoration: none;
}

.header-nav {
  font-size: 20px;
  margin-left: auto;
}

.nav-link {
  padding: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 20px;
}

.navbar-brand {
  margin-left: 10px;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 5px;
}
