.mynavigation-bar {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 93%;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.my-menu {
  border: none !important;
  position: absolute;
  right: 12vw;
}

.mynavigation-bar img {
  top: 0.5vh;
  position: fixed;
  left: 15vw;
  height: 70px;
}

.my-link {
  /* position: absolute !important; */
  margin-bottom: 20px !important;
  font-size: 20px;
  float: right !important;
  margin-right: 3vw !important;
}
