.future-missions-countdown {
  width: 90vw;
}

.future-mission-first {
  text-align: center;
  margin: auto;
  width: 62%;
  box-shadow: rgb(3, 22, 126);
  background-origin: padding-box;
  border-radius: 10px;
  margin-bottom: 6vh;
  padding: 25px;
  background-color: #382929ab;
}

.future-mission {
  text-align: center;
  box-shadow: rgb(3, 22, 126);
  background-origin: padding-box;
  padding: 20px;
  background-color: #382929ab;
  margin-bottom: 6vh !important;
}

.future-mission h3 {
  font-size: 20px;
}

.mission-patch {
  width: 110px;
  height: 110px;
}

.past-mission-list {
  margin: 0 auto;
  max-width: 75vw;
  font-size: 16px;
  margin-bottom: 65px !important;
}

.past-mission-card {
  margin-bottom: 23px;
}

.past-mission-summary {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 15px;
}

.past-mission-summary h4 {
  text-align: center;
  font-size: 26px;
}

.past-mission-summary:hover {
  background-color: #38292967;
  border: none;
  cursor: pointer;
}

.past-mission-status {
  margin-top: 45px;
  color: rgb(241, 236, 236);
  text-align: center;
  font-style: italic;
}

.past-mission-image {
  background-color: transparent;
  border: none;
  max-width: 400px;
}

.past-mission-links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.past-mission-links a:hover {
  text-decoration: none;
  color: rgb(3, 22, 126);
}

.past-mission-toggle {
  cursor: pointer;
}

.past-mission-accordion-collapse {
  background-color: #3829299a;
}

.past-dission-details {
  width: 100%;
}

.past-dission-details-p {
  font-size: 18px;
  padding-bottom: 12px;
}

.past-dission-details ul {
  list-style: none;
}

.past-dission-details li {
  margin-top: 15px;
}

.past-dission-details table {
  text-align: center;
}
