.mynav-bar {
  background-color: #000000;
  opacity: 93%;
  margin-left: auto;
}
.mynav-bar img {
  align-self: flex-start;
  margin-left: 100px;
}
.mynav {
  font-size: 20px;
  margin-left: auto;
}

.mynav-link {
  margin-left: 30px;
  margin-right: 20px;
  padding: 25px;
  /* color: white !important; */
}
