.future-missions-countdown {
  width: 90vw;
}

.future-mission-first {
  text-align: center;
  margin: auto;
  width: 62%;
  box-shadow: rgb(3, 22, 126);
  background-origin: padding-box;
  border-radius: 10px;
  margin-bottom: 6vh;
  padding: 25px;
  background-color: #382929ab;
}

.future-mission-first h3 {
  margin-bottom: 20px;
}

.future-mission {
  text-align: center;
  box-shadow: rgb(3, 22, 126);
  background-origin: padding-box;
  padding-left: 20px;
  padding-top: 15px;
  background-color: #382929ab;
  margin-bottom: 7vh !important;
}

.future-mission h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
