body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background-image: url("./images/backgroud.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #021920;
  color: white;
}
